
*{
margin:0;
}
body{
    margin:0;
    padding:0;
    background: #17192a;
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* remove color */
    color:white;
}

/* -------------------Navigation--------------- */
.navigation{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #117aff;
    position:sticky;
}
.menubutton{
    cursor: pointer;
    display: none;
}
 #mysidebar{

    width: 100%;
    opacity: 0;
    height: 0;
    margin-top:20px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    border-bottom: 2px solid #117aff;
    transition: height 0.3s ease-out; /* add a transition effect for smooth animation */
}
#mysidebar li{
    font-size:20x;
    margin-left:20px;
    list-style: none;
    text-decoration: none;
    border-bottom: 1px solid black;
    margin:20px 0;
    color: rgba(255,255,255,.5);
}
#mysidebar #item{
    font-size:30px;
    margin-left:20px;
    color: rgba(255,255,255,.5);
}
#mysidebar.visible ~ #mysidebar{
    opacity: 1;
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.navigation li{
    list-style: none;
    display: inline;
    text-align: center;
    padding:15px 0;
}
.navigation #left-nav{
    display: flex;
    gap:7%;
    margin-left:7px;
    align-items: center;

}
.navigation #right-nav{
   display: flex;
   justify-content: space-evenly; 
   gap: 20px;
   margin-right:7px;
}

/* Navigation item represents the a tags in navigation */
#left-nav #item{
    text-decoration: none;
    color: rgba(255,255,255,.5);
    font-size:1.6rem; 
}


.header-name{
    color:white;
    font-size:1.4rem; 
    font-weight: 500;
}
#right-nav #item{
    text-decoration: none;
    color: rgba(255,255,255,.5);
    font-size:35px; 
}
.navigation #right-nav li:hover{
    transform: translateY(-4.5px);
}
.navigation #right-nav #item:hover{
    color:#0a65ee;
}

 #mysidebar #item:hover{
    color:#0a65ee;
}
.menubutton {
   display: none;
   background: none;
   color:white;
   float: right;
}
.navigation #right-nav  .menu:hover{
    transform: none;
}
/* ------------About me Section--------- */
.about-me{
    display: flex;
    width:50%;
    margin:0 auto;
    margin-top:40px;
    gap:40px;
}
.profile-text #sampleText{
    -webkit-text-fill-color: transparent;
    font-size: 2.2rem;
    font-weight: 700;
    text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
    background: linear-gradient(90deg,#26cc0c,#1e98c9);
    -webkit-background-clip: text;
}
.profile-text{
    margin:0 auto;
    width: 70%;
}
.profile-text #profile-name{
    margin-top: 5px;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
    background: linear-gradient(90deg,#26cc0c,#1e98c9);
    -webkit-background-clip: text;

}
.profile-text #profile-auto {
    margin-top:6px;
}
.profile-text #profile-auto .auto-type{
    color:#ff4f1a;
    font-size:27px;
    font-weight: 500;
}
.profile-text #profile-description{
    text-align: left;
    margin-top: 15px;
    line-height: 1.1;
    color: #fff;
    font-size: 1rem;
}
#profile-link-button div{
    display: inline-block;
    padding:2px 10px;
    border-radius: 4px;
    border: 2px double transparent;
    background-image: linear-gradient(#0d0e21,#0d0e21),radial-gradient(circle at left top,#17e24a,#0a65ee);
    background-origin: border-box;
    background-clip: padding-box,border-box;
    margin-right:5px;
    position: relative;
}
#profile-link-button div a{
    color:white;
    font-size:18px;
}
#profile-link-button [title-a]:hover::after{
    content:attr(title-a);
    color:white;
    position:absolute;
    top:100%;
    left:0;
    right:0;
    margin-top:20px;
    font-size:15px;
}
.profile-photo img{
    max-height: 300px;
    max-width: 300px;
    border-radius: 50%;
    border: 4px double transparent;
    background-image: linear-gradient(#0d0e21,#0d0e21),radial-gradient(circle at left top,#17e24a,#0a65ee);
    background-origin: border-box;
    background-clip: padding-box,border-box;

}

/* ---------------Skills Section---------- */

.skills-head h2{   
    text-align: center;
    text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
    background: -webkit-linear-gradient(#e21717,#ff4f1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(#ff00ff);
    font-size: 40px;
    padding-top: 50px;
    margin:30px 0 0 0;
}
.skills-head p{
    margin-top: 0px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
}

/*-----------Skills Set Secion------------------- */
.skills{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.skills-set{
    text-align: center;
    width: 500px;
   
}
    
.skills-set p{
    margin-top:10px;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    color: #ff0055;
    font-weight: 300;
    font-size: 17px;
    transition: 0.6s;
    border:1px solid rgb(103, 102, 102);
    border-radius: 5px;
}
.skills-set p i{
    margin-right:5px;
}
/* ---------------Projects Head Section same as skills head section----------------  */
.project{
    margin-bottom: 10px;
    margin-top: 0;
}

.projects-head h2{   
    text-align: center;
    text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
    background: -webkit-linear-gradient(#e21717,#ff4f1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(#ff00ff);
    font-size: 40px;
    padding-top: 20;
    margin:30px 0 0 0;
}
.projects-head p{
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
}
.projects-container{
    flex: 1;
    display: flex;
    flex-direction: row;
    width:50%;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
}
.projects-container div{
    padding: 1em;
    border-radius: 5px;
    border:1px solid #0a65ee;
    max-width: 40%;
    min-height:300px;
    transition: 0.4s ease-in-out;
}

.projects-container .project-title{
    text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);

    background: linear-gradient(90deg,#ff1f62,#3b2dfa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(#ff00ff);
    font-size: 30px;
    margin:0;
    text-align: center;
}
.projects-container .project-description{
    line-height: 1.4;
    margin-top:1rem;
}
.projects-container .project-techstack{
    display: inline-flex;
    font-size: 13px;
    color: #ee1d62;
    background-color: #f2dfdf;
    padding: 3px 10px;
    border-radius: 14px;
    margin: 6px 5px;
    box-shadow: 5px 5px 115px -14px #000;
}

.techstacks{
    margin-top:1rem;
}

.projects-container div:hover{
    background-color:#272b4b ;
}


::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#12c2e9,#c471ed,#f64f59);
}

footer{
    font-size:1rem;
    margin-top:3%;
    text-align: center;
    color:#50b540;
    background-color: #03061b;
    padding:20px;
}

/* Small Devices  */
@media only screen and (min-width: 300px) and (max-width:576px)  {
    /* MAKE MENU BUTTON VISIBLE */
    .menubutton{
        display: block;
    }
    /* MAKE RIGHT NAV TO HIDE  */
    #right-nav li #item{
        display: none;
    }
    .profile-photo img{
        width: 200px;
        height:200px;
    }
    .about-me{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
   .projects-container{
    flex-direction: column;
    width: 100%;
   }
   .projects-container div{
    padding:2%;
    max-width: 65%;
    min-height:150px;

   }

}

/* Smaller devices  */
@media only screen and  (min-width: 576px) and (max-width:768px) { 
    .menubutton{
        font-size:15px;
        display: block;
    }
    #right-nav li #item{
        display: none;
    }
    .profile-photo img{
        width: 100%;
        height:auto;
    }
    .about-me{
        flex-direction: row;
        width: 80%;
    }
   .projects-container{
    width: 100%;
    flex-direction: row;
   }
   
 }

/* Medium devices (tablets, 768px and up) */
@media only screen and  (min-width: 768px) and (max-width:992px) { 
    .about-me{
        width: 80%;
    }
   .projects-container{
    width: 100%;
    flex-direction: row;
   }
 }


 /* Large devices (desktops, 992px and up) */
@media only screen and  (min-width: 992px) { 
    .projects-container{
        flex-direction: row;
        width: 50%;
       }
       /* .projects-container div{
        min-width: 40%;
       } */
}




